{% extends 'base.html.twig' %}

{% block title %}{% trans %}Movies{% endtrans %}{% endblock %}

{% block body %}
    <section class="pageListFilm">
        <div class="d-flex">
            <h2>{% trans %}List of movies{% endtrans %}</h2>
            {% if is_granted('ROLE_ADMIN') %}
            <div class="btn_add_movie">
                <a class="btn btn-danger" href="{{ path('createFilm') }}">{% trans %}Add a movie{% endtrans %}</a>
            </div>
            {% endif %}
        </div>
        <ul class="menuFiltre">
            <li class="btnDeroulant">
                <a>Trier par<i class="bi bi-arrow-down-short"></i></a>
                <ul class="menuDeroulant">
                    <li>
                        <a id="btn_filtre_croissant" onClick="trieAlphabetiqueCroissant()">Ordre alphabétique</a>
                    </li>
                    <li>
                        <a id="btn_filtre_decroissant" onClick="trieAlphabetiqueDecroissant()">Ordre alphabétique décroissant</a>
                    </li>
                    <li>
                        <a id="btn_filtre_annee_sortie_croissant" onClick="trieAnneeSortiCroissant()">Année : par ordre croissant</a>            
                    </li>
                    <li>
                        <a id="btn_filtre_annee_sortie_decroissant" onClick="trieAnneeSortiDeroissant()">Année : par ordre décroissant</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div id="title_filter"></div>
        {% if films is not null %}
            <div id="normale">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 d-flex justify-content-center">
                    {% for film in films %}
                        <div class="col d-flex justify-content-center g-5">
                            <a class="card-film" href="{{ path('show', {'id': film.id}) }}">
                                <div class="realisation-section">
                                    <div class="realisation-survol">
                                        <div class="realisation-survol-content">
                                            <h5 class="text-center"><b>{{ film.titre }}</b></h5>
                                        </div>
                                    </div>
                                    <img class="img_card img-fluid" width="300" height="500" src="{{ asset('upload/imgMovie/' ~ film.image) }}" alt="Affiche du film '{{ film.titre }}'" />
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="filtre_croissant">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 d-flex justify-content-center">
                    {% for titreAlphabetiqueCroissant in titreAlphabetiqueCroissants %}
                        <div class="col d-flex justify-content-center g-5">
                            <a class="card-film" href="{{ path('show', {'id': titreAlphabetiqueCroissant.id}) }}">
                                <div class="realisation-section">
                                    <div class="realisation-survol">
                                        <div class="realisation-survol-content">
                                            <h5 class="text-center"><b>{{ titreAlphabetiqueCroissant.titre }}</b></h5>
                                        </div>
                                    </div>
                                    <img class="img_card img-fluid" width="300" height="500" src="{{ asset('upload/imgMovie/' ~ titreAlphabetiqueCroissant.image) }}" alt="Affiche du film '{{ titreAlphabetiqueCroissant.titre }}'" />
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="filtre_decroissant">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 d-flex justify-content-center">
                    {% for titreAlphabetiqueDecroissant in titreAlphabetiqueDecroissants %}
                        <div class="col d-flex justify-content-center g-5">
                            <a class="card-film" href="{{ path('show', {'id': titreAlphabetiqueDecroissant.id}) }}">
                                <div class="realisation-section">
                                    <div class="realisation-survol">
                                        <div class="realisation-survol-content">
                                            <h5 class="text-center"><b>{{ titreAlphabetiqueDecroissant.titre }}</b></h5>
                                        </div>
                                    </div>
                                    <img class="img_card img-fluid" width="300" height="500" src="{{ asset('upload/imgMovie/' ~ titreAlphabetiqueDecroissant.image) }}" alt="Affiche du film '{{ titreAlphabetiqueDecroissant.titre }}'" />
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="filtre_annee_sorti_croissant">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 d-flex justify-content-center">
                    {% for oldestMovie in oldestMovies %}
                        <div class="col d-flex justify-content-center g-5">
                            <a class="card-film" href="{{ path('show', {'id': oldestMovie.id}) }}">
                                <div class="realisation-section">
                                    <div class="realisation-survol">
                                        <div class="realisation-survol-content">
                                            <h5 class="text-center"><b>{{ oldestMovie.titre }}</b></h5>
                                        </div>
                                    </div>
                                    <img class="img_card img-fluid" width="300" height="500" src="{{ asset('upload/imgMovie/' ~ oldestMovie.image) }}" alt="Affiche du film '{{ oldestMovie.titre }}'" />
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="filtre_annee_sorti_decroissant">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 d-flex justify-content-center">
                    {% for newestMovie in newestMovies %}
                        <div class="col d-flex justify-content-center g-5">
                            <a class="card-film" href="{{ path('show', {'id': newestMovie.id}) }}">
                                <div class="realisation-section">
                                    <div class="realisation-survol">
                                        <div class="realisation-survol-content">
                                            <h5 class="text-center"><b>{{ newestMovie.titre }}</b></h5>
                                        </div>
                                    </div>
                                    <img class="img_card img-fluid" width="300" height="500" src="{{ asset('upload/imgMovie/' ~ newestMovie.image) }}" alt="Affiche du film '{{ newestMovie.titre }}'" />
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <td colspan="3">
                <h3 class="border border-2 border-danger mt-4 p-4">{% trans %}No movies found{% endtrans %}</h3>
            </td>
        {% endif %}
    </section>
{% endblock %}
