{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block body %}
<section class="pageListFilm">
    <h2>Liste des films</h2>
    <div class="row d-flex justify-content-center">
    {% for film in films %}
        <div class="col-3 d-flex justify-content-center g-5">
            <div class="card" style="width: 18rem;">
                <img src="{{ film.image }}" class="card-img-top" alt="Image du film {{ film.titre }}">
                <div class="card-body">
                    <h5 class="card-title"><b>Titre: </b>{{ film.titre }}</h5>
                    <p class="card-text"><b>Description: </b>{{ film.description }}</p>
                    <div class="text-center">
                        <a class="btn btn-primary" href="{{ path('show', {'id': film.id}) }}">Voir plus</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</section>
    
{% endblock %}
