{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block body %}

<section class="pageListFilm">
    <h2>Liste des films</h2>
    <a class="btn btn-danger" href="{{ path('createFilm') }}">Ajouter un film</a>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
        {% for film in films %}
            <div class="col d-flex justify-content-center g-5">
                <a class="card-film" href="{{ path('show', {'id': film.id}) }}">
                    <img class="w-100" src="{{ film.image }}" alt="">
                    <div class="contenant">
                        <h5><b>Titre: </b>{{ film.titre }}</h5>
                    </div>
                </a>
            </div>
        {% else %}
            <td colspan="3">
                <h3 class="border border-2 border-danger mt-4 p-4">Ancune film trouvé</h3>
            </td>
        {% endfor %}
    </div>
</section>

    {# Card bootstrap #}
    {# {% for film in films %}
        <div class="col d-flex justify-content-center g-5">
            <div class="card" style="width: 18rem;">
                <img src="{{ film.image }}" class="card-img-top" alt="Image du film {{ film.titre }}">
                <div class="card-body">
                    <h5 class="card-title"><b>Titre: </b>{{ film.titre }}</h5>
                    <p class="card-text"><b>Description: </b>{{ film.description }}</p>
                    <div class="text-center">
                        <a class="btn btn-primary" href="{{ path('show', {'id': film.id}) }}">Voir plus</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %} #}
{% endblock %}
