{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block body %}

<section class="pageListFilm">
    <h2>Liste des films</h2>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-danger" href="{{ path('createFilm') }}">Ajouter un film</a>
    {% endif %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 d-flex justify-content-center">
        {% for film in films %}
            <div class="col d-flex justify-content-center g-5">
                <a class="card-film" href="{{ path('show', {'id': film.id}) }}">
                    <div class="realisation-section">
                        <div class="realisation-survol">
                            <div class="realisation-survol-content">
                                <h5 class="text-center"><b>{{ film.titre }}</b></h5>
                            </div>
                        </div>
                        <img class="img_card img-fluid" width="300" height="500" src="{{ asset('upload/imgMovie/' ~ film.image) }}" alt="Affiche du film '{{ film.titre }}'" />
                    </div>
                </a>
            </div>
        {% else %}
            <td colspan="3">
                <h3 class="border border-2 border-danger mt-4 p-4">Ancune film trouvé</h3>
            </td>
        {% endfor %}
    </div>
</section>
{% endblock %}
