{% extends 'base.html.twig' %}

{% block body %}
    <section class="pageShowFilm">
        <h2>Affiche du film {{ showFilm.titre }}</h2>
        <div class="card bg-dark text-white">
            <img src="{{ showFilm.image }}" class="card-img-top" alt="Image du film {{ showFilm.titre }}">
            <div class="card-img-overlay">
                <h3 class="card-title"><b>Titre: </b>{{ showFilm.titre }}</h3>
                <p class="card-text"><b>Description: </b>{{ showFilm.description }}</p>
                <p class="card-text"><small class="text-muted">Durée: {{ showFilm.duree }}</small></p>
            </div>
        </div>
    </section>
{% endblock %}