{% extends 'base.html.twig' %}

{% block title %}{% trans %}Movie details{% endtrans %}{% endblock %}

{% block body %}
    <section class="pageShowFilm">
        <div class="text-center d-block d-md-flex">
            <h2><b>{{ showFilm.titre }}</b> </h2>
            {% if is_granted('ROLE_ADMIN') %}
                <div>
                    <a class="btn btn-secondary ms-3" href="{{ path('editFilm', {'id': film.id}) }}">{% trans %}Edit Movie{% endtrans %}</a>
                    <button type="button" class="btn btn-danger ms-3" data-bs-toggle="modal" href="#modalDeleteFilm">
                        {% trans %}Delete Movie{% endtrans %}
                    </button>
                    <div class="modal" id="modalDeleteFilm" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="text-center">
                                    <h3 class="fw-bold pt-3">{% trans %}Attention{% endtrans %} !</h3>
                                    <hr>
                                </div>
                                <div class="modal-body">
                                    <h4 class="fw-bold text-center">{% trans %}You are about to delete this movie{% endtrans %} "{{ showFilm.titre }}".</h4>
                                    <p class="text-center">{% trans %}Are you sure{% endtrans %}?</p>
                                </div>
                                <div class="modal-footer">
                                    <div class="d-flex justify-content-between">
                                        <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}No{% endtrans %}</a>
                                        <a class="btn btn-danger" href="{{ path('removeFilm', {'id': film.id}) }}">{% trans %}Yes{% endtrans %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="carte border row">
            <div class="partiImage col-md-12 col-lg-5 p-0">
                <img class="img-fluid" style="width:100%;" src="{{ asset('upload/imgMovie/' ~ film.image) }}" alt="Image de {{ showFilm.titre }}">
            </div>
            <div class="partiDescription col-md-12 col-lg-7">
                <div class="cardText">
                    <h5 class="card-title pt-3"><b>{{ showFilm.titre }}</b></h5>
                    <p class="card-text pt-3">{{ showFilm.description }}</p>
                    <p>
                        {% trans %}Film genre{% endtrans %}:
                        {% for showFilm in showFilm.genre %}
                            {{ showFilm.name }}
                        {% endfor %}
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            {% trans %}Duration{% endtrans %}:
                            {% if showFilm.duree %}
                                {{ showFilm.duree }}
                            {% else %}
                                inconnu
                            {% endif %}
                        </small>
                    </p>
                    <p class="card-text">
                        {% trans %}Release year{% endtrans %} : 
                        {% if showFilm.releaseYear %}
                            {{ showFilm.releaseYear }}
                        {% else %}
                            inconnu
                        {% endif %}
                    </p>
                </div>
                {% if showFilm.movie %}
                    <div class="cardMovie d-flex justify-content-center align-items-center">
                        <video class="img-fluid" style="width:100%;" controls src="{{ asset('upload/movie/' ~ film.movie) }}" alt="Video de {{ showFilm.titre }}"></video>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}