{% extends 'base.html.twig' %}

{% block title %}{% trans %}Users{% endtrans %}{% endblock %}

{% block body %}
    <section class="pageListUsers">
        <h2>{% trans %}Users list{% endtrans %}</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans %}Lastname{% endtrans %}</th>
                    <th>{% trans %}Firstname{% endtrans %}</th>
                    <th>{% trans %}Birthdate{% endtrans %}</th>
                    <th>{% trans %}Email{% endtrans %}</th>
                    <th>{% trans %}Role{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
            
            {% for user in users %}
            <tr>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.birthDate ? user.birthDate|date('d/m/Y') : '' }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                {# <td>{{ order.date ? order.date|date('d/m/Y') : '' }}</td> 
                <td>
                    <a class="lien" href="{{ path('order_show', {'id': order.id}) }}">Detail</a>
                    <a class="lien" href="{{ path('order_edit', {'id': order.id}) }}">Modifier</a>
                </td>#}
            </tr>
            {% else %}
            <tr>
                <td colspan="3">{% trans %}No user found{% endtrans %}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
